@import 'base/variables';

*{
    font-family: 'Museo Sans', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
@import 'block/promo';
@import 'block/header.scss';
@import 'block/buttons';
@import 'block/advantages';
@import 'block/title';
@import 'block/consultation';
@import 'block/forms';
@import 'block/media';
@import 'block/carousel';
@import 'block/catalog';
@import 'block/footer';
@import 'block/reviews';