@media ( max-width: 1200px){
    .container{
        max-width: 900px;
    }
}

@media ( max-width: 992px){
    .container{
        max-width: 700px;
    }
    .advantages{
        &__item {
            max-width: 215px;
        }
    }
    .consultation {
        .title_left {
            font-size: 32px;
        }
    }
    .carousel {
        .prev {
            left: -33px;
        }
        .next {
            right: -33px;
        }
    }
}

@media (max-width: 768px){
    .container{
        max-width: 541px;
    }
    .promo{
        padding: 21px 0 25px 0;
        &__header {
            font-size: 35px;
        }
        &__subheader{
            margin-top: 13px;
            font-size: 20px;
        }
        &__wrapper{
            align-items: center;
        }
        .header {
            &__logo{
                width: 200px;
            }
            &__official {
                font-size: 11px;
                span {
                    font-size: 14px;
                }
            }
            &__phone {
                font-size: 16px;
            }
        }
        &__link {
            font-size: 15px;
        }
    }
    .advantages{
        &__item{
            max-width: 210px;
            margin-top: 30px;
        }
        &__descr{
            font-size: 13px;
        }
        &__wrapper {
            flex-direction: column;
            margin-top: 20px;
            align-items: center;
        }
    }
    .consultation{
        &__descr{
            text-align: center;
            font-size: 18px;
            margin-top: 15px;
        }
        .title_left{
            text-align: center;
            font-size: 24px;
        }
        .feed-form{
            margin: 0 auto;
            margin-top: 24px;
        }
    }
    .carousel {
        .container {
            max-width: 432px;
        }
    }    
}
@media (max-width: 576px){
    .promo{
        .header{
            justify-content: space-around;
            &__official{
                display: none;
            }
            &__phone{
                font-size: 19px;
            }
            &__contacts{
                .button{
                    width: 165px;
                    height: 31px;
                }
            }
        }
        &__header{
            font-size: 35px;
        }
        &__subheader{
            font-size: 18px;
        }
        .button_main{
            height: 55px;
        }
        &__link{
            font-size: 14px;
        }
        &__icons {
            justify-content: space-around;
        }
    }
    .advantages{
        &__wrapper{
            flex-direction: column;
            margin-top: 20px;
        }
        &__item{
            margin: 0 auto;
            margin-top: 30px;
            max-width: 250px;
            img{
                width: 95px;
            }
        }
        .title{
            font-size: 24px;
        }
        &__subtitle{
            margin-top: 20px;
            font-size: 20px;

        }
        &__descr{
            font-size: 15px;
            margin-top: 12px;
        }
    }
    .consultation{
        padding: 62px 0 62px 0;
        min-height: 565px;
        .title_left{
            font-size: 19px;
            line-height: 37px;
        }
        &__descr{
            font-size: 15px;
        }
    }
    .carousel {
        .container {
            max-width: 296px;
        }
        .next {
            img {
                width: 14px;
                height: 20px;
            }
        }
        .prev {
            img {
                width: 14px;
                height: 20px;
            }
        }
    }    
}
@media (max-width: 425px){
    .container {
        max-width: 300px;
    }
    .promo {
        min-height: 542px;
        &__wrapper{
            margin-top: 54px;
        }
        .header {
            &__logo {
                img {
                    width: 88%;
                    margin-top: 12px;
                }
            }
            &__phone {
                font-size: 14px;
            }
            .button {
                width: 122px;
                font-size: 11px;
            }
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 12px;
            margin-top: -9px;

        }
        .button_main {
            height: 45px;
            width: 245px;
            font-size: 13px;
        }
        &__link {
            margin-top: 7px;
            font-size: 12px;
        }
        
        &__icons {
            width: 315px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .advantages{
        .title {
            font-size: 20px;
        }
        &__subtitle{
            font-size: 18px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .consultation {
        padding: 40px 0 29px 0;
        min-height: 515px;
        .title_left {
            font-size: 13px;
        }
        &__descr {
            color: #afafaf;
            font-size: 13px;
            margin-top: 0;
            line-height: 19px;
        }
        .feed-form {
            width: 250px;
        }
        .button_submit {
            height: 45px;
            font-size: 13px;
        }
        input {
            font-size: 13px;
        }
    }
    .carousel {
        .container {
            max-width: 235px;
        }
    }
}